.LO_message {
    --width: 1080rem;
    --height: 1920rem;
    position: relative;
    width: var(--width);
    height: var(--height);
    top: calc(var(--height)*0);
    left: calc(var(--width)*-1);
    /* background-color: #000000FF; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.5s;
    z-index: -1;
}

.popup {
    position: absolute;
    width: 940rem;
    height: 719rem;
    left: 70rem;
    top: 850rem;
    opacity: 0;
    transition: opacity 0.2s linear, top 0.2s linear;
}

.tick_mark_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 238rem;
    height: 238rem;
    left: 50%; transform: translate(-50%, 0%);
    top: 0rem;
    filter: drop-shadow(0rem 4rem 4rem rgba(0, 0, 0, 0.25));
    opacity: 1;
}

.tick_mark_container .line1 {
    position: absolute;
    width: 73.32rem;
    /* height: 0rem; */
    left: 32%;
    top: 63%;
    border-top: 12.5rem solid #FFFFFF;
    border-bottom: 12.5rem solid #FFFFFF;
    box-sizing: content-box;
    border-radius: 12.5rem;
    background-color: #ffffff;
    transform: translate(-50%, -50%) rotate(39.89deg);
}

.tick_mark_container .line2 {
    position: absolute;
    width: 144.73rem;
    /* height: 0rem; */
    left: 57.6%;
    top: 52.1%;
    transform: translate(-50%, -50%);
    border-top: 12.5rem solid #FFFFFF;
    border-bottom: 12.5rem solid #FFFFFF;
    border-radius: 12.5rem;
    background-color: #ffffff;
    transform: translate(-50%, -50%) rotate(-48.59deg);
}

.tick_mark_container .ellipse1 {
    border-radius: 50%;
    position: absolute;
    width: 238rem;
    height: 238rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #10DBA4 0%, #388BFC 153.15%);
    box-shadow: 0rem 5rem 5rem rgba(0, 0, 0, 0.25), inset 0rem -10rem 10rem rgba(0, 0, 0, 0.25), inset 0rem 10rem 10rem rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.tick_mark_container .ellipse2 {
    border-radius: 50%;
    position: absolute;
    width: 238rem;
    height: 238rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 10rem solid #FFFFFF;
    box-shadow: inset 0rem -2rem 2rem rgba(0, 0, 0, 0.25), inset 0rem 2rem 2rem rgba(255, 255, 255, 0.5);
    filter: drop-shadow(0rem 4rem 4rem rgba(0, 0, 0, 0.25));
    display: none;
}

.text_container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 940rem;
    height: 600rem;
    left: 0rem;
    top: 120rem;
    background: #FFFFFF;
    border-radius: 24rem;
}

.tick_mark_container svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.38);
    z-index: 0;
}

.tick_mark_container svg path{
    position: absolute;
    fill: none;
    stroke: #b3ff10;
    stroke-width: 6;
    box-shadow: inset 0rem -2rem 2rem rgba(0, 0, 0, 0.25), inset 0rem 2rem 2rem rgba(255, 255, 255, 0.5);
    filter: drop-shadow(0rem 4rem 4rem rgba(0, 0, 0, 0.25));
    
}

.LO_message .text_container p {
    position: relative;
    top: 26%;
    width: 80%;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 325;
    font-size: 36rem;
    line-height: 120.5%;
    /* or 43rem */
    text-align: center;
    /* text-transform: capitalize; */
}

.close_button{
    position: relative;
    left: 50%; transform: translate(-50%, 0%);
    top: 552rem;
    width: 468rem;
    height: 128.64rem;
    border: none;
    border-radius: 200rem;
    background: linear-gradient(90deg, #10dca3, #3988fa);
    color: white;
    font-family: Gotham SSm;
    font-weight: 350;
    font-size: 42rem;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}