@font-face {
    font-family: Gotham SSm;
    /* src: url('/fonts/Gotham-SSm/GothamSSm-Black.otf'); */
    src: url('../fonts/Gotham-SSm/GothamSSm-Light.otf');
    /* src: url('/fonts/Gotham-SSm/GothamSSm-BlackItalic.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-Bold.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-BoldItalic.otf'); 
    src: url('fonts/Gotham-SSm/GothamSSm-Book.otf'); */
    /* src: url('/fonts/Gotham-SSm/GothamSSm-BookItalic.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-LightItalic.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-Medium.otf');
    src: url('/fonts/Gotham-SSm/GothamSSm-MediumItalic.otf'); */
}

html {
    font-size: calc(1/1080*100vw);
}

@media only screen and (min-aspect-ratio: 9/16) {
    html {
        font-size: calc(1/1920*100vh);
    }
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* This part is for showing the slider animation */

.window {
    position: relative;
    height: 1920rem;
    width: 1080rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.movable_parent {
    position: absolute;
    top: 0rem;
    left: 0rem;
    --width: 1080rem;
    height: 1920rem;
    width: calc(var(--width)*3);
    display: flex;
    flex-direction: row;
    transition: left 0.4s linear;
}

.background {
    position: relative;
    width: 1080rem;
    height: 1920rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.background2 {
    position: relative;
    width: 1080rem;
    height: 1920rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: radial-gradient(119.99% 62.42% at 50% 36.33%, #7B16e1 0%, #000e87 100%); */
    overflow: hidden;
}

.BG_svg {
    width: 100%;
    height: 100%;
}

/* For the cross symbol */

.cross_symbol_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108rem;
    height: 108rem;
    left: 48rem;
    top: 102rem;
    opacity: 0.5;
    /* background: grey; */
    z-index: 1;
}

.cross_symbol_container .cross_oval {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    /* background-color: blue; */
}

.cross_oval .cross_hand {
    position: absolute;
    width: 54rem;
    height: 6rem;
    top: 50%;
    left: 50%;
    background-color: #9C88D8;
}

.cross_oval #hand1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.cross_oval #hand2 {
    transform: translate(-50%, -50%) rotate(45deg);
}

/* For navigation bar. When selected the 'nav_selected' class is to be added in js. And the direction of the box shadow should be changed depending on the situation */

.navigation_bar {
    position: absolute;
    width: 55%;
    height: 5.6%;
    top: 5.3%;
    border-radius: 200rem;
    background: rgb(109, 42, 244);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 36rem;
    text-align: center;
    font-family: Gotham SSm;
    font-weight: 325;
    line-height: 144.2%;
    cursor: pointer;
    color: white;
    z-index: 1;
}

.observation_bar {
    height: 100%;
    width: 50%;
    border-radius: 200rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question_bar {
    height: 100%;
    width: 50%;
    border-radius: 200rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_selected {
    background: white;
    color: rgb(54, 18, 175);
    box-shadow: 4rem 2rem 10rem 2rem rgba(0, 0, 0, 0.284);
    /*The direction needs to be changed by putting a 'minus' sign befer '4rem'*/
}

.nav_selected2 {
    background: white;
    color: rgb(54, 18, 175);
    box-shadow: -4rem 2rem 10rem 2rem rgba(0, 0, 0, 0.284);
    /*The direction needs to be changed by putting a 'minus' sign befer '4rem'*/
}

/* For the instruction area */

.instructino_area {
    position: absolute;
    width: 984rem;
    height: 240rem;
    top: 200rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructino_area p {
    margin: 0;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 300;
    font-size: 39rem;
    line-height: 60rem;
    /* or 154% */
    color: #FFFDFD;
}

/* For Visual area */

.visual_area {
    position: absolute;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 984rem;
    height: 520rem;
    top: 440rem;
   
    background :url( backgroundWall.png);
    border-radius: 20rem;
    z-index: 1;
}

/* For feedback bar */

.feedback_bar {
    position: absolute;
    border-radius: 20rem;
    width: 984rem;
    height: 180rem;
    top: 987rem;
    background: linear-gradient(180deg, #FFE601 0%, #E8882F 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback_bar p {
    font-family: Gotham SSm;
    font-weight: 80;
    font-size: 40rem;
    margin: 10rem;
    font-style: normal;
    /* padding: 20rem; */
    /* font-weight: 300; */
    /* font-size: 39rem; */
    line-height: 60rem;
    text-align: center;
    /* or 154% */
    color: black;
}

.interaction_area {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 1260rem;
    width: 90%;
    height: 300rem;
    /* outline: 1rem solid white; */
}

.input_slider {
    -webkit-appearance: none;
    outline: none;
    overflow: none;
    width: 100%;
    /* position: relative; */
    transform: translateY(-50%);
    z-index: 1;
    height: 10rem;
}

.interaction_area #slider1 {
    position: absolute;
    top: 270rem;
    opacity:0;
}
.interaction_area #p1 {
    position: absolute;
    font-size: 60rem;
   color:white;
   top: 35%;
   left: 10%;
   opacity: 0;
}
img  
{  
width:12rem;  
height:38rem;  
}  
.interaction_area #v1 {
    position: absolute;
    font-size: 60rem;
   color:white;
   top: 55%;
   left: 60%;
}
.interaction_area #v2 {
    position: absolute;
    font-size: 50rem;
   color:white;
   top: 110%;
   left: 0%;
   opacity: 0;
}
.interaction_area #v3 {
    position: absolute;
    font-size: 50rem;
   color:white;
   top: 110%;
   left: 28.33%;
   opacity: 0;
}
.interaction_area #v4 {
    position: absolute;
    font-size: 50rem;
   color:white;
   top: 110%;
   left: 61.66%;
   opacity: 0;
}

.interaction_area #v5 {
    position: absolute;
    font-size: 50rem;
   color:white;
   top: 110%;
   left: 88%;
   opacity: 0;
}
.interaction_area #v6 {
    position: absolute;
    font-size: 80rem;
   color:white;
   top: 74%;
   left: 99%;
   opacity: 0;
}
.interaction_area #v7 {
    position: absolute;
    font-size: 80rem;
   color:white;
   top: 74%;
   left: 66.66%;
   opacity: 0;
}
.interaction_area #v8 {
    position: absolute;
    font-size: 80rem;
   color:white;
   top: 74%;
   left: 33.33%;
   opacity: 0;
}
.interaction_area #v9 {
    position: absolute;
    font-size: 80rem;
   color:white;
   top: 74%;
   left: 0%;
   opacity: 0;
}

.interaction_area #slider2 {
    position: absolute;
    bottom: 0rem;
    opacity:0;
   
}

.input_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 60rem;
    height: 60rem;
    background: linear-gradient(#fb8d34, #f96074);
    border: none;
    border-radius: 50%;
    z-index: 3;
}

.input_slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 80rem;
    height: 80rem;
    background: linear-gradient(#fb8d34, #f96074);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    z-index: 3;
}

.slider_container .movable span {
    position: absolute;
    bottom: 105%;
    width: 15%;
    height: 100%;
    border: 6rem solid rgb(255, 255, 255);
    border-radius: 20rem;
    background: linear-gradient(#fb8d34, #f96074);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gotham SSm;
    font-size: 40rem;
    color: rgb(241, 247, 246);
    transform: translateX(-50%);
}

.slider_container .movable span::after {
    content: '';
    border-top: 20rem solid #ffffff;
    border-left: 20rem solid rgba(0, 0, 0, 0);
    border-right: 20rem solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -025%;
    left: 50%;
    transform: translateX(-50%);
}

.next_button {
    position: absolute;
    top: 1704rem;
    width: 45%;
    height: 128.64rem;
    border: none;
    border-radius: 200rem;
    background: linear-gradient(#10dca3, #3988fa);
    color: white;
    font-family: Gotham SSm;
    font-weight: 350;
    font-size: 39rem;
    cursor: pointer;
}
/* velocity button */
/* .next_button1 */
.mass { 
    position: absolute;
    top: 04rem;
    width: 460rem;
    left:0rem;
    height: 128.64rem;
    border: none;
    border-radius: 24rem;
    background: linear-gradient(#c339fa,#6f10dc);
    color: white;
    font-family: Gotham SSm;
    font-weight: 350;
    font-size: 39rem;
    border-style: unset;
    border-color: white;
    cursor: pointer;
}
/* .next_button2 */
.velocity {
    position: absolute;
    top: 04rem;
    width: 460rem;
    left:520rem;
    height: 128.64rem;
    border: none;
    border-radius: 24rem;
    background: linear-gradient(#c339fa,#6f10dc);
    color: white;
    font-family: Gotham SSm;
    font-weight: 350;
    font-size: 39rem;
    border-style: unset;
    border-color: white;
    cursor: pointer;
}



